.results {
  vertical-align: bottom;
}

td,
tr {
  margin: 0;
  padding: 0;
}

td {
  padding-bottom: 40px;
}

.results__avatar {
  height: 48px;
  width: 48px;
  border-radius: 48px;
  margin: 8px;
}

.results__tweet {
  font-size: 20px;
  line-height: 24px;
}

.results__score {
  display: block;
  box-sizing: border-box;
  background: #3366cc;
  color: #fff;
  height: 88px;
  width: 88px;
  border-radius: 100%;
  text-align: center;
  font-family: monospace;
  letter-spacing: -4px;
  font-size: 32px;
  line-height: 88px;
}

.results__score--positive {
  background: #00af89;
}

.results__score--negative {
  background: #dd3333;
}
